In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [4]:
data=pd.Series([1,3,5,7,89,5,78,9,45,57])
data

0     1
1     3
2     5
3     7
4    89
5     5
6    78
7     9
8    45
9    57
dtype: int64

In [5]:
data=pd.Series([1.0,3,5,7,89,5,78,9,45,57])
data

0     1.0
1     3.0
2     5.0
3     7.0
4    89.0
5     5.0
6    78.0
7     9.0
8    45.0
9    57.0
dtype: float64

In [6]:
data[1:3]

1    3.0
2    5.0
dtype: float64

In [7]:
data[3]

7.0

In [9]:
x=pd.Series([1,3,5,7,89], index=['a','b','c','d','e'])
x

a     1
b     3
c     5
d     7
e    89
dtype: int64

In [10]:
y=pd.Series([1,3,5,7,89,5,78,9,45,57], index=['5','6','7','8','9','10','11','12','13','14'])
y

5      1
6      3
7      5
8      7
9     89
10     5
11    78
12     9
13    45
14    57
dtype: int64

In [12]:
y[8]

45

In [15]:
x

a     1
b     3
c     5
d     7
e    89
dtype: int64

In [17]:
x['c']

5

In [18]:
d=pd.Series([1,3,5], index=['5','2','1'])
d

5    1
2    3
1    5
dtype: int64

In [19]:
d[1:2]

2    3
dtype: int64

In [23]:
class_stud={'ram': 20062, 'xyz': 5560}
x=pd.Series(class_stud)
x

ram    20062
xyz     5560
dtype: int64

In [35]:
student_database={'ram': 20062, 'xyz': 5560}
y=pd.Series(student_database)
# print(y)
student_database1={'ram': 22, 'xyz':44 }
z=pd.Series(student_database1)
students_name= pd.DataFrame({'rollno':y, 'marks': z})
print(students_name)

     rollno  marks
ram   20062     22
xyz    5560     44

In [57]:
pd.DataFrame(np.random.rand(4,4),columns=['India', 'Austria','America','europe'], index=['1','2','3','4'])

      India   Austria   America    europe
1  0.841468  0.621151  0.462885  0.104737
2  0.994524  0.341143  0.921377  0.668132
3  0.572467  0.748117  0.583345  0.293864
4  0.884953  0.151746  0.839265  0.451681

In [41]:
x=np.zeros(6, dtype=[('x','i8'), ('y','f8')])
x

array([(0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.), (0, 0.)],
      dtype=[('x', '<i8'), ('y', '<f8')])

In [42]:
note=pd.Series([3,4,5,2,4,76,8,9], index=['0','1','2','3','4','5','6','7'])
note

0     3
1     4
2     5
3     2
4     4
5    76
6     8
7     9
dtype: int64

In [43]:
note[2]

5

In [44]:
note[2:6]

2     5
3     2
4     4
5    76
dtype: int64

In [46]:
note[(note>0) & (note>4)]

2     5
5    76
6     8
7     9
dtype: int64

In [48]:
note[(note>3) & (note<8)]

1    4
2    5
4    4
dtype: int64

In [52]:
note[[1,6]]

1    4
6    8
dtype: int64

In [53]:
note[[1]]

1    4
dtype: int64

In [54]:
'4' in note

True

ValueError: Shape of passed values is (4, 4), indices imply (2, 2)

In [70]:
x=pd.DataFrame(np.random.rand(4,2),columns=['SPEED', 'TIME'], index=['1','2','3','4'])
x

      SPEED      TIME
1  0.711100  0.018132
2  0.974804  0.663199
3  0.342807  0.518285
4  0.336011  0.535415

In [71]:
x['DISTANCE']=x['SPEED'] * x['TIME']
x

      SPEED      TIME  DISTANCE
1  0.711100  0.018132  0.012894
2  0.974804  0.663199  0.646489
3  0.342807  0.518285  0.177672
4  0.336011  0.535415  0.179905

In [72]:
x['TOTAL']=x['DISTANCE']+x['SPEED'] + x['TIME']
x

      SPEED      TIME  DISTANCE     TOTAL
1  0.711100  0.018132  0.012894  0.742126
2  0.974804  0.663199  0.646489  2.284491
3  0.342807  0.518285  0.177672  1.038764
4  0.336011  0.535415  0.179905  1.051332

In [73]:
x.iloc[:3,:2]

      SPEED      TIME
1  0.711100  0.018132
2  0.974804  0.663199
3  0.342807  0.518285

In [76]:
x.ix[:2,:'DISTANCE']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

      SPEED      TIME  DISTANCE
1  0.711100  0.018132  0.012894
2  0.974804  0.663199  0.646489

In [77]:
x.ix[:2,:'TIME']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

      SPEED      TIME
1  0.711100  0.018132
2  0.974804  0.663199

In [87]:
x.loc[:'2',:'TOTAL']

      SPEED      TIME  DISTANCE     TOTAL
1  0.711100  0.018132  0.012894  0.742126
2  0.974804  0.663199  0.646489  2.284491

In [89]:
x.index

Index(['1', '2', '3', '4'], dtype='object')

In [90]:
x.loc[x.SPEED>0.1, ['DISTANCE','SPEED']]

   DISTANCE     SPEED
1  0.012894  0.711100
2  0.646489  0.974804
3  0.177672  0.342807
4  0.179905  0.336011

In [97]:
y=pd.DataFrame(np.random.rand(4,2)*5000 ,columns=['STATE', 'POPULATION'], index=['MP','UP','PUNJAB','MAHARASHTRA'])
y

                   STATE   POPULATION
MP           3443.642069  3485.995710
UP           3781.795319   808.869056
PUNJAB       1398.740414  2684.423376
MAHARASHTRA  2354.477670   612.960807

In [102]:
y.loc[y.POPULATION>500 , 'POPULATION']
y

                   STATE   POPULATION
MP           3443.642069  3485.995710
UP           3781.795319   808.869056
PUNJAB       1398.740414  2684.423376
MAHARASHTRA  2354.477670   612.960807

In [ ]:
abc=np.random.RandomState(44)